@import '../partials/inputs';

.container {
    text-align: center;
    h4 {
        font-size: 1.6rem;
        color: #60c7c1;
        margin-bottom: 1rem;
    }
    .ss-input-form {
        outline: none;
        background-color: $bg;
        border-radius: 5px;
        border: $border;
        font-size: 1.5rem;
        width: 90%;
        margin: 0.5rem 1rem;
        height: 35px;
    }
    .submit {
        background: #60c7c1;
        border: none;
        color: #fff;
        margin: 0.5rem 1rem 3rem 1rem;
    }
}
